name: GitHub Actions Security Analysis

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/zizmor.yaml
      - .github/workflows/**/*.yaml
      - .github/actions/**/*.yaml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/zizmor.yaml
      - .github/workflows/**/*.yaml
      - .github/actions/**/*.yaml
  schedule:
    # Some random-ish cron to help with GitHub Actions scheduling, once a week
    - cron: 29 11 * * 2

permissions: {}

jobs:
  zizmor:
    name: Run zizmor
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Write events
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d # v0.5.0
        with:
          persona: pedantic
          version: v1.16.0
