name: GitHub Actions Security Analysis

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/zizmor.yaml
      - .github/workflows/**/*.yaml
      - .github/actions/**/*.yaml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/zizmor.yaml
      - .github/workflows/**/*.yaml
      - .github/actions/**/*.yaml
  schedule:
    # Some random-ish cron to help with GitHub Actions scheduling, once a week
    - cron: 29 11 * * 2

permissions: {}

jobs:
  zizmor:
    name: Run zizmor
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Write events
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
        with:
          persona: pedantic
          version: v1.16.0
