@import 'tailwindcss';

@layer theme, base, components, utilities;

@theme {
  --shadow-around: 0 0 2px rgba(0, 0, 0, 0.22), 0 4px 8px rgba(0, 0, 0, 0.28);
}

@layer base {
  html {
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: env(safe-area-inset-bottom);
    font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
      'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus,
  dialog:focus,
  div:focus,
  a:focus {
    outline: none;
  }

  input,
  select {
    background: none;
  }

  :root {
    color-scheme: light dark;
  }

  body {
    color: light-dark(#000000, #dddddd);
    background-color: light-dark(#fafafa, #121212);
  }

  hr {
    border-color: light-dark(#e5e5e5, #333333);
  }
}

@layer components {
  @import '../node_modules/github-markdown-css/github-markdown.css';

  .markdown-body {
    --fgColor-default: light-dark(#000000, #dddddd);
    --bgColor-default: light-dark(#ffffff, #1e1e1e);
    --bgColor-muted: light-dark(#fafafa, #121212);
    --borderColor-muted: light-dark(#e5e5e5, #333333);
    --bgColor-neutral-muted: light-dark(#fafafa, #262626);
  }

  .markdown-body li {
    list-style-type: disc;
  }

  .markdown-body img {
    display: initial;
  }

  /* Hide GitHub README's heading anchor */
  .markdown-body .markdown-heading .anchor {
    display: none;
  }

  /* Hide GitHub README's box header */
  .markdown-body .Box-header {
    display: none;
  }

  /* Workaround for the <HTML> element wrapping content in a div*/
  .markdown-body > div:first-child > *:first-child {
    margin-top: 0 !important;
  }

  .dashboard-table {
    grid-template-columns:
      40px 1fr minmax(min-content, 80px) minmax(min-content, 80px)
      minmax(min-content, 200px) 24px;
  }

  .break-word {
    word-break: break-word;
  }

  .menu-button {
    anchor-name: --menu;
    cursor: pointer;
  }

  .menu-container {
    position: absolute;
    /* TODO: Can we really use the same name for all instances of the component? */
    position-anchor: --menu;
    /* TODO: This doesn't seem to work reliably - we want it center, but the
    * only place it's used now looks best being left */
    position-area: bottom left;
    z-index: 100;
    box-sizing: border-box;
    min-width: 138px;
    background-color: light-dark(white, #1e1e1e);
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22), 0 4px 8px rgba(0, 0, 0, 0.28);
    animation-name: slide-in;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  .menu-container li {
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }

  .menu-container li:hover {
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    background-color: light-dark(#f5f5f5, #262626);
  }

  @keyframes slide-in {
    0% {
      transform: translate3d(0, -10px, 0);
    }
    100% {
      transform: none;
    }
  }
}
