@import '../node_modules/github-markdown-css/github-markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: env(safe-area-inset-bottom);
    font-family:
      system,
      -apple-system,
      '.SFNSText-Regular',
      'San Francisco',
      'Roboto',
      'Segoe UI',
      'Helvetica Neue',
      'Lucida Grande',
      sans-serif;
  }

  :root {
    color-scheme: light dark;
  }

  body {
    color: light-dark(#000000, #ffffff);
    background-color: light-dark(#fafafa, #1e1e1e);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead tr {
    border-bottom: 1px solid light-dark(#ebebeb, #262626);
  }

  th {
    text-align: start;
    padding: 10px;
  }

  td {
    padding: 10px;
  }

  tbody tr {
    border-bottom: 1px solid light-dark(#f3f3f3, #262626);
  }
}

@layer components {
  .markdown-body {
    --bgColor-default: light-dark(#ffffff, #121212);
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }

  .markdown-body li {
    list-style-type: disc;
  }

  .markdown-body img {
    display: initial;
  }

  /* Hide GitHub README's heading anchor */
  .markdown-body .markdown-heading .anchor {
    display: none;
  }

  /* Hide GitHub README's box header */
  .markdown-body .Box-header {
    display: none;
  }
}
